$azul-1: #014561;
$azul-1-hover: #013145;
$azul-2: #1C86A4;
$azul-3: #034c69ad;
$cinza-2: #727272;
$cinza-3: #828282;
$dourado: #BE9667;
$dourado-hover: #be95677f;
$border-azul: #70B0C4;

$highlighted-comment-bg: #EFF7F9;
