@use '@/styles/mixins' as *;
@use '@/styles/colors' as color;

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  color: #101010;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  background: white;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  color: color.$azul-1;
  font-family: Cormorant, Lato, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
}

p {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

button {
  @include size(50px, 300px);
  @include transition;
  background: color.$azul-1;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Lato, serif;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;

  &:hover {
    background: color.$azul-1-hover;
  }
}