@use '@/styles/mixins' as *;
@use '@/styles/colors' as color;

.container {
  @include flex;
  @include size(38rem);
  background-image: url(@/assets/testimonials-bg.jpg);
  background-size: cover;
  flex-direction: column;
  gap: 1rem;

  h1 {
    color: #F2F2F2;
    font: {
      weight: 300;
      size: 38px;
    };
  }

  p {
    color: #C4C4C4;
    font: {
      family: Cormorant, Lato, Arial, sans-serif;
      size: 26px;
      style: italic;
      weight: 300;
    };
  }

  h3 {
    color: color.$dourado;
    font: {
      family: Cormorant, Lato, Arial, sans-serif;
      size: 24px;
      weight: 400;
    }
  }

  h4 {
    line-height: 16.8px;
    color: #949494;
    font: {
      family: Lato, Arial, sans-serif;
      size: 14px;
      weight: 300;
    }
  }
}


.photo {
  @include size(121px, 121px);
  border-radius: 50%;
  background: white;
  border: 2px solid color.$dourado;
}