@use '@/styles/mixins' as *;
@use '@/styles/colors' as color;

.container {
  @include flex;
  @include size(34.2rem);
  background: white;

  img {
    @include size(27.8rem, _);
  }
}

.wrapper {
  @include flex(center, flex-start);
  @include size(auto, 64.8%);
  gap: 7rem;

  p {
    width: 90%;
    color: #333;
    font-size: 19px;
    font-weight: 300;
    text-align: left;
    
    &:nth-child(4) {
      color: color.$azul-2;
      font: {
        family: Cormorant, Lato, Arial, serif;
        size: 24px;
        style: italic;
        weight: 400;
      }
      
      .signatureText {
        font-style: normal;
        position: absolute;
        color: color.$cinza-3;
        bottom: 4rem;
        font-weight: 500;
        font-size: 20px;
        right: 0;
      }
    }
  }
}

.info {
  @include flex(center, flex-start);
  flex-flow: row wrap;
  gap: 2.7rem;
  position: relative;

  hr {
    position: absolute;
    left: 4rem;
    top: 3.5rem;
    width: 3.2rem;
    opacity: 0.3;
    border-color: color.$border-azul;
  }
}
