@use '@/styles/mixins' as *;
@use '@/styles/colors' as color;

.container {
  @include flex;
  @include size(34.2rem);
  background: white;

  img {
    @include size(27.6rem, _);
  }
}

.wrapper {
  @include flex(center, flex-start);
  @include size(auto, 70%);
  gap: 10rem;

  p {
    width: 90%;
    color: #333;
    font-size: 19px;
    font-weight: 300;
    text-align: left;

    &:last-child {
      color: color.$azul-2;
      font-family: Cormorant, Lato, Arial, serif;
      font-style: italic;
      font-weight: 400;
      font-size: 24px;
    }
  }
}

.info {
  @include flex(center, flex-start);
  flex-flow: row wrap;
  gap: 3.5rem;
  position: relative;

  hr {
    position: absolute;
    left: 4rem;
    top: 3.5rem;
    width: 3.3rem;
    opacity: 0.5;;
    border-color: color.$border-azul;
  }
}