@use '../../styles/mixins' as *;

header {
  @include flexspaced;
  @include size(6.7rem);
  background-image: linear-gradient(to bottom, black 30%, transparent);
  padding-inline: 20rem;

  h2 {
    color: white;
  }

  .logo {
    @include flex(center, flex-start);
    flex: 1;
  }

  nav {
    @include flexspaced;
    flex: 0.8;

    h4 {
      @include transition(0.4s);
      color: grey;
      font-size: 0.97rem;
      font-weight: 200;

      &:hover {
        color: #1c86a4;
      }
    }
  }
}
