@use '@/styles/mixins' as *;

header {
  @include flexspaced;
  @include size(6.7rem);
  background-image: linear-gradient(to bottom, black 30%, transparent);
  padding-inline: 5rem;
  position: fixed;
  z-index: 1;

  h2 {
    color: white;
  }

  nav {
    @include flexspaced;
    flex: 0.8;

    h4 {
      @include transition(0.4s);
      color: grey;
      font-size: 1rem;
      font-weight: 300;

      &:hover {
        color: #1c86a4;
      }
    }
  }
}

.logo {
  @include flex(center, flex-start);
  flex: 1;
}
